<div class="mt-8 max-w-[80%] mx-auto bg-gray-800 grid grid-cols-3 gap-x-4 gap-y-4">
    <div class="max-auto p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700" *ngFor="let task of tasks; index as idx">
        <a href="#">
            <div class="mb-2 text-2xl font-semibold tracking-wide text-gray-900 dark:text-white">{{ task.title }}</div>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ task.description }} </p>
        <button type="button" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-[1.5rem] py-[0.425rem] text-center mr-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900" (click)="deleteTask(task._id)">Delete</button>
        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Read more
            <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
        <div class="flex items-center justify-start gap-2 mt-2">
            <input [checked]="task.completed" type="checkbox" (change)="updateTask(task._id)" class="w-4 h-4 text-blue-600 bg-gray-100 hover:cursor-pointer border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <p class="dark:text-white text-dark-700 font-bold ml-1">Completed?</p>
            <p class="text-dark-700 dark:text-white font-bold">Due: {{ task.dueDate.slice(0, 10) }} </p>
        </div>
    </div>
</div>
